.welcome_container{
    background-color: black;
    color: white;
    height: 35em;
}

#welcome{
 width: 50%;
 height: 35rem;
 padding: 10px;
 
}

.welcome{
    display: inline-block;
vertical-align:middle;
text-align: center;
width: 50%;

}