<div class="welcome_container">
    <img id="welcome" src="../../assets/welcomeImage.webp" alt="">
    <div class="welcome">
        <h1> Welcome to FridayAI</h1>
        <h3>The Advanced Way</h3>
        <p>
            At FridayAI, we’re passionate about building new innovative products that will disrupt the industry.
            we’ve provided a high quality service to all of our clients and as we grow, our commitment to your needs
            remains the key driving force behind our Technology Company. Our team of professionals is here to inspire
            you with their unique ideas and abilities - get in touch today to learn more.
        </p>
    </div>
</div>