<section>
    <img src="../../assets/about.webp" alt="">
    <div class="about">
        <h2>Who We Are</h2>
        <p>
            We’re a young and talented group of entrepreneurs and engineers with a groundbreaking idea designed to
            contribute
            towards a better tomorrow. We provide smart solutions for companies of all sizes and pride ourselves on our
            unparalleled, dedicated service. At FridayAI, we believe that the right understanding and technological edge
            can
            lead companies towards a successful future. Contact us today to set up a meeting with one of our sales
            representatives.
        </p>
        <button>Get in Touch</button>
    </div>
</section>

<div class="left-container">
    <p>
        <strong>FridayAI</strong> was founded with the goal of creating a venue that offers IT and development services.
        Our aim to provide Best Solutions for IT Industry and always understands the needs of potential customer
        to build a successful business and deliver the service on time with total perfection and with a fast finish.
        We help our clients to improve their business to the core andalways in constant communication, especially
        in volatile times with good interaction with our clients and customers.
    </p>
    <p>
        Company offers progressive end-to-end IT solutions.We always work on Quality driven model to
        maintain best combination of Professionalism and quality in our work.
    </p>
    <ul>
        <li>
            <div>
                <img src="../../assets/trophy.png" alt="">
                <p>
                    We exist to deliver excellent solution not only in papers but in reality.
                    We believe when passion and purpose work together, it always deliver best.
                    Our work culture supports our team to deliver exceptional service to our Clients.
                </p>
            </div>
        </li>
        <li>
            <div>
                <img src="../../assets/gift.png" alt="">
                <p>
                    We are working to become first choice for clients in delivering best web solutions. We want to
                    become an
                    established brand not only company.
                </p>
            </div>
        </li>
    </ul>
</div>
<!-- <section>
    <a href="#mission">Our mission</a>
    <a href="#history">Our history</a>
    <a href="#team">Our team</a>
    <a href="#join">Join our team</a>
</section>

<section id="mission">
    <h4>Technology that propels productivity is always at the forefront</h4>
    <p>Our mission is to help you to achieve greater levels of speed, responsiveness, and productivity by bringing
        service
        and asset management together in one platform with AI-driven knowledge intelligence.
    </p>
</section>

<section id="history">

</section>

<section id="team">

</section>

<section id="join">

</section> -->