<div class="header">
    <img src="../../assets/logo.png" alt="">
    <ul class="header-list">
        <li>
            <span>
                <img src="../../assets/mail.png" alt="">
                <span class="text"> abc@abc.co.in</span>
            </span>
        </li>
        <li>
            <span>
                <img src="../../assets/phone.png" alt="">
                <span class="text">12345</span>
            </span>
        </li>
        <li>
            <button class="btn btn-secondary">Request for Demo</button>
        </li>
    </ul>
    <nav>
        <ul class="navigation">
            <li><a class="link-dark" routerLink="home" routerLinkActive="active">Home</a></li>
            <li><a class="link-dark" routerLink="about" routerLinkActive="active">About</a></li>
            <li><a class="link-dark" href="#">Services</a></li>
            <li><a class="link-dark" href="#">Contact</a></li>
        </ul>
    </nav>
</div>